@import "tailwindcss";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ba40ed;
  --demitint: #708fc6;
  --secondary: #26dea0;
  --divider: #e0e0e0; 
  --card-bg: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-demitint: var(--demitint);
  --color-secondary: var(--secondary);
  --color-divider: var(--divider);
  --color-card-bg: var(--card-bg);
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
}


:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #6C22A2;  
  --demitint: #263340; 
  --secondary: #196648; 
  --divider: #2e2f45;
  --card-bg: #171825;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-inter);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}


.wallet-adapter-button-trigger {
  color: var(--foreground) !important;
  border: 1px solid var(--primary) !important;
  background-color: transparent !important;
  font-family: var(--font-montserrat) !important;
  border-radius: 0.5rem !important;
  &:hover {
    color: var(--background) !important;
    background-color: var(--primary) !important;
  }
}

.wallet-adapter-dropdown-list {
  bottom: 100% !important;
  left: 0 !important;
  right: auto !important;
  top: auto !important;
  background: var(--card-bg) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
}

.wallet-adapter-dropdown-list-item{
  color: var(--foreground) !important;
  &:hover{
    background-color: var(--primary) !important;
    color: var(--background) !important;
  }
}

.wallet-adapter-dropdown-list-active{
  transform: translateY(-10px) !important;
}